body {
	background: #111;
	margin: 0;
	width: 100%;
	height: 100%;
	position: fixed;
}
.Absolute-Center {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

button {
	position: absolute;
	top: 0;
	right: 0;
	margin: 50px;
	padding: 5px;
	z-index: 999999999999999;
}
#Street {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/GfKDR8X/madrid-spain-july-2015-group-of-men-dancing-in-the-parade-of-the-gay-pride_vknf2e5k__F0000.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#confetti {
	background: transparent;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100;
}

#Band {
	z-index: 600;
	cursor: pointer;
	margin: auto;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	margin-bottom: -5%;
	bottom: 0;
	animation: Band 50s infinite linear;
}
.Zub {
	animation: Band 50s infinite linear;
}
@keyframes Band {
25% {
 left: 98%;
transform: rotateY(0deg);
}
26% {
transform: rotateY(180deg);
}
50% {
 left: -110%;
 transform: rotateY(180deg);
}
52% {
 transform: rotateY(0deg);
}
}
#ChinZub {
	width: 175px;
	height: 390px;
	z-index: 200;
	background: url('http://monkeysbrain.dev-ii.ru/img/man.png') left center;
	animation: play .8s steps(5) infinite;
}
@keyframes play {
 100% {
background-position: -878px;
}
}

.leftleg {
	transform: translateY(5px);
	animation: leftleg 3s ease infinite;
	animation-delay: 1.5s;
}
@keyframes leftleg {
 50% {
 transform: translateY(-30px);
}
}
.rightleg {
	transform: translateY(10px);
	animation: rightleg 3s ease infinite;
}
@keyframes rightleg {
 50% {
 transform: translateY(-20px);
}
}
.LeaderArm {
	transform: translatey(15px);
	animation: MajorArm 3s ease infinite;
}
@keyframes MajorArm {
 50% {
 transform: translatey(-10px);
}
}
.BatonSpin {
	animation: rotation 1200ms infinite linear;
	transform-origin: 50% 50%;
}
.DrumStickSpin {
	animation: rotation 410ms 2 linear;
	transform-origin: 50% 50%;
}
 @keyframes rotation {
from {
transform: rotate(0deg);
}
to {
	transform: rotate(360deg);
}
}

.BatonStop {
}
 @keyframes stopBaton {
from {
transform: rotatey(0deg);
}
to {
	transform: rotatey(0deg);
}
}


#DrummerBody {
	transition: all .2s ease-in-out;
}
#Drum {
	transition: all .2s ease-in-out;
}
.DrumAnimation {
	animation: drumanimation 3s infinite linear;
}
 @keyframes drumanimation {
 0% {
transform: translatex(0px);
}
 25% {
transform:  translatex(5px);
}
 50% {
transform: translatex(0px);
}
 75% {
transform:  translatex(5px);
}
 100% {
transform: translatex(0px);
}
}
.TrumpetAnimation {
	animation: trumpetanimation 3s infinite linear;
}
 @keyframes trumpetanimation {
 0% {
transform: translatex(0px);
}
 25% {
transform:  translatex(-8px);
}
 50% {
transform: translatex(0px);
}
 75% {
transform:  translatex(-8px);
}
 100% {
transform: translatex(0px);
}
}
.HeadAnimate {
	animation: head_animation 3s infinite;
}
 @keyframes head_animation {
 0% {
transform: rotate(0.25deg);
}
 25% {
transform: rotate(-0.25deg);
}
 50% {
transform: rotate(0.25deg);
}
 75% {
transform: rotate(-0.25deg);
}
 100% {
transform: rotate(0.25deg);
}
}
.HeadAnimate2 {
	animation: head_animation2 4s infinite;
}
 @keyframes head_animation2 {
 0% {
transform: rotate(-0.5deg);
}
 25% {
transform: rotate(0.5deg);
}
 50% {
transform: rotate(-0.5deg);
}
 75% {
transform: rotate(0.5deg);
}
 100% {
transform: rotate(-0.5deg);
}
}


.DrumStickAnimation {
	animation: DrumStickAnimation 700ms ease-in-out infinite alternate;
}
@keyframes DrumStickAnimation {
 100% {
 transform: rotate(-3deg) translatex(-10px);
}
}
.LeaderArmAnimation {
	animation: LeaderArmAnimation 1s ease-in-out infinite alternate;
}
@keyframes LeaderArmAnimation {
 100% {
 transform: rotate(-0.75deg) translatey(-15px) translatex(-35px);
}
}
.HeadAnimate3 {
	animation: HeadAnimate3 1200ms ease-in-out infinite alternate;
}
@keyframes HeadAnimate3 {
 100% {
 transform: rotate(-5deg);
}
}
.TromboneArmAnimation {
	animation: TromboneArmAnimation 1200ms ease-in-out infinite alternate;
}
@keyframes TromboneArmAnimation {
 100% {
 transform: translatex(-10px) rotate(-0.5deg);
}
}
.trombone {
	animation: trombone 1200ms ease-in-out infinite alternate;
}
@keyframes trombone {
 100% {
transform: translatex(-10px) rotate(-2deg);;
}
}
#BandMajor {/* Firefox */
	transition: all 3s ease;
}
.BackwardMarch {
	transform: translatex(50px);
}
#ChinZubGroup {
	transition: all 3s ease;
	width: 175px;
	height: 390px;
}
.ChinZubGroup {
	animation-duration: 15s;
	animation-name: slidein;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
 @-webkit-keyframes slidein {
 0% {
transform: translatex(0px);
}
 25% {
transform: translatex(20%);
}
 50% {
transform: translatex(0px);
}
 75% {
transform: translatex(-20%);
}
 100% {
transform: translatex(0px);
}
}